@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");

@font-face {
  font-family: "brandonLight";
  src: url(./assets/fonts/brandon-grotesque-light.otf) format(opentype);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.navLink {
  @apply relative text-white uppercase text-[16px] hover:after:w-full font-medium tracking-wider mr-14 font-montserrat;
}
.navLink::after {
  @apply absolute content-[""] -bottom-2 left-0 w-0 h-[2px] bg-white transition-all duration-200;
}

.paddingY {
  @apply py-5 md:py-14;
}

.paddingX {
  @apply px-5;
}

.gridme {
  @apply grid gap-10 md:gap-20;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
